<div class="stars" [class.disabled]="disabled">
  <mat-icon class="star" *ngFor="let star of stars" [class.selected]="star.selected" (click)="updateValue(star.id)">
    star_rate
  </mat-icon>
</div>
