@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$selected-star-color: #fdd835;
$disabled-star-color: #e0e0e0;
$star-color: #9e9e9e;

.stars {
  display: flex;

  &.disabled {
    .star {
      color: $disabled-star-color;
      cursor: auto;
    }
  }

  &:hover:not(.disabled) {
    .star {
      color: $selected-star-color;
    }
  }

  &:not(.disabled) {
    .star {
      &:hover {
        ~ .star {
          color: $star-color;
        }
      }
    }
  }

  .star {
    color: $star-color;
    cursor: pointer;
  }

  .selected {
    color: $selected-star-color;
  }
}
